<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" />
    <title>RaceWiki - Home</title>
    <link rel="stylesheet" href="/css/homepage.css" />
  </head>

<body>

  <div id="body">

    <!-- Nav Bar Div Start -->
      <div class="navbar">

        <div class="navbarDropdown">
          <li class="category"><a class="navbarItem" href="">F1</a></li>
          <div class="dropdown-content">
            <a href="">Drivers</a>
            <a href="">Teams</a>
            <a href="">Seasons</a>
            <a href="">Standings</a>
            <a href="">Circuits</a>
            <a href="">Rules</a>
            <a href="">Schedule</a>
          </div>
        </div>

        <div class="navbarDropdown">
          <li class="category"><a class="navbarItem" href="">F2</a></li>
          <div class="dropdown-content">
            <a href="">Drivers</a>
            <a href="">Teams</a>
            <a href="">Seasons</a>
            <a href="">Standings</a>
            <a href="">Circuits</a>
            <a href="">Rules</a>
            <a href="">Schedule</a>
          </div>
        </div>

        <div class="navbarDropdown">
          <li class="category"><a class="navbarItem" href="">F3</a></li>
          <div class="dropdown-content">
            <a href="">Drivers</a>
            <a href="">Teams</a>
            <a href="">Seasons</a>
            <a href="">Standings</a>
            <a href="">Circuits</a>
            <a href="">Rules</a>
            <a href="">Schedule</a>
          </div>
        </div>

        <div class="navbarDropdown">
          <li class="category"><a class="navbarItem" href="">Formula E</a></li>
          <div class="dropdown-content">
            <a href="">Drivers</a>
            <a href="">Teams</a>
            <a href="">Seasons</a>
            <a href="">Standings</a>
            <a href="">Circuits</a>
            <a href="">Rules</a>
            <a href="">Schedule</a>
          </div>
        </div>

        <div class="navbarDropdown">
          <li class="category"><a class="navbarItem" href="">MotoGp</a></li>
          <div class="dropdown-content">
            <a href="">Drivers</a>
            <a href="">Teams</a>
            <a href="">Seasons</a>
            <a href="">Standings</a>
            <a href="">Circuits</a>
            <a href="">Rules</a>
            <a href="">Schedule</a>
          </div>
        </div>

        <div class="navbarDropdown">
          <li class="category"><a class="navbarItem" href="">Moto2</a></li>
          <div class="dropdown-content">
            <a href="">Drivers</a>
            <a href="">Teams</a>
            <a href="">Seasons</a>
            <a href="">Standings</a>
            <a href="">Circuits</a>
            <a href="">Rules</a>
            <a href="">Schedule</a>
          </div>
        </div>


        <div class="navbarDropdown">
          <li class="category"><a class="navbarItem" href="">Moto3</a></li>
          <div class="dropdown-content">
            <a href="">Drivers</a>
            <a href="">Teams</a>
            <a href="">Seasons</a>
            <a href="">Standings</a>
            <a href="">Circuits</a>
            <a href="">Rules</a>
            <a href="">Schedule</a>
          </div>
        </div>


        <div class="navbarDropdown">
          <li class="category"><a class="navbarItem" href="">IndyCar</a></li>
          <div class="dropdown-content">
            <a href="">Drivers</a>
            <a href="">Teams</a>
            <a href="">Seasons</a>
            <a href="">Standings</a>
            <a href="">Circuits</a>
            <a href="">Rules</a>
            <a href="">Schedule</a>
          </div>
        </div>

        <div class="navbarDropdown">
          <li class="category"><a class="navbarItem" href="">Nascar</a></li>
          <div class="dropdown-content">
            <a href="">Drivers</a>
            <a href="">Teams</a>
            <a href="">Seasons</a>
            <a href="">Standings</a>
            <a href="">Circuits</a>
            <a href="">Rules</a>
            <a href="">Schedule</a>
          </div>
        </div>
        <li class="category"><a class="navbarItem" href=""></a></li>
        <li class="signinItem"><a class="signinLink" href="">Sign In</a></li>
      </div>

    <!-- Nav Bar Div Ends -->

    <div id="title">World Standings</div>

    <!-- Standings Div Starts -->
    <div class="standings">

      <div class="standingsOuterContainer">
        <div class="categoryTitle">F1</div>
        <div class="standingsSlider">
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">300 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
  
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
        </div>

      </div>
  
      <div class="standingsOuterContainer">
        <div class="categoryTitle">F2</div>
        <div class="standingsSlider">
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
  
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
        </div>

      </div>

      <div class="standingsOuterContainer"> 
        <div class="categoryTitle">F3</div>
        <div class="standingsSlider">
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
  
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
        </div>

      </div>

      <div class="standingsOuterContainer">
        <div class="categoryTitle">Formula E</div>
        <div class="standingsSlider">
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
  
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
        </div>

      </div>

      <div class="standingsOuterContainer">
        <div class="categoryTitle">MotoGP</div>
        <div class="standingsSlider">
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
  
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
        </div>

      </div>

      <div class="standingsOuterContainer">
        <div class="categoryTitle">Moto2</div>
        <div class="standingsSlider">
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
  
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
        </div>

      </div>

      <div class="standingsOuterContainer">
        <div class="categoryTitle">Moto3</div>
        <div class="standingsSlider">
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
  
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
        </div>

      </div> 
      
      <div class="standingsOuterContainer">
        <div class="categoryTitle">IndyCar</div>
        <div class="standingsSlider">
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
  
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
        </div>

      </div>

      <div class="standingsOuterContainer">
        <div class="categoryTitle">Nascar</div>
        <div class="standingsSlider">
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
  
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
    
          <div class="standingsInnerContainer">
            <div class="driverStanding">1</div>
            <div class="driverPicture"></div>
    
            <div class="driverInfo">
              <div class="driverName">Max Verstappen</div>
              <div class="driverTeam">Red Bull Racing Honda</div>
              <div class="driverPoints">30 pt</div>
            </div>
    
          </div>
        </div>

      </div>

    </div>
  
    

    <!-- Standings Div Ends -->

  </div>

</body>
</html> 