<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" />
    <title>RaceWiki - Home</title>
    <link rel="stylesheet" href="/css/homepage.css" />
  </head>

<body>
    <!-- Header with categories, login button -->
    <div class="topnav">
        <a class="active" href="">F1</a>
        <a href="">F2</a>
        <a href="">F3</a>
        <a href="">MotoGP</a>
        <a href="">Formula E</a>

        <div class="account">
            <img src="/assets/icons/homepage/user.png" height="25px" width="25px"> 
        </div>
    </div>

</body>
</html> 