body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header .ms-auto form {
  margin-right: 0.0rem !important; 
}

.header {
  background-color: #f8f9fa;
  padding: 1rem;
}

h1 {
  margin-bottom: 0rem;
  color: #dc3545; /* Racing red color */
}

.nav-link {
  color: #333;
}

.nav-link:hover {
  color: #dc3545; /* Racing red color */
}

.btn-outline-danger {
  border-color: #dc3545; /* Racing red color */
  color: #dc3545; /* Racing red color */
}

.btn-outline-danger:hover {
  background-color: #dc3545; /* Racing red color */
  color: #fff;
}

.btn-outline-warning {
  border-color: #ffc107; /* Racing yellow color */
  color: #ffc107; /* Racing yellow color */
}

.btn-outline-warning:hover {
  background-color: #ffc107; /* Racing yellow color */
  color: #fff;
}

.footer {
  background-color: #f8f9fa;
}

.card.mb-4 {
  margin-bottom: 0.5rem !important; /* Adjust the spacing between championship sections */
}

.card-header {
  border: 1px solid #dc3545; /* Add a red border */
  background-color: transparent; /* Make the background transparent when collapsed */
  color: #dc3545; /* Use red text color when collapsed */
}

.card-header:is(button[data-bs-toggle][aria-expanded="true"]):not(.collapsed) {
  background-color: #dc3545; /* Racing red background for expanded state */
  color: #fff; /* White text color for expanded state */
}

.standings-list {
  max-height: 12em;
  overflow-y:auto;
}

.card-header button {
  font-size: 1.5rem; /* Maintain the header text size */
}